# Jupyter Notebook
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv/
ENV/
env/
venv/

# IDE/project files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Data (optional — comment this out if you want to keep data files)
data/

*.drawio
*.drawio.bkp

\*.html